body {
    font-family: 'Englebert', sans-serif;
    background: linear-gradient(90deg,#e66465, #3f87ac);
    
}

.navbar{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;

}



#game{
    background-color: #4198F2;
    border: 2px solid black;
    border-radius: 15px;
    height: 400px;
    width: 300px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    
}

.targetNumber{
    background-color: black;
    color: white;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    margin: 15px;
    border-radius:15px;
    border: 1px solid black
    font-size: 50px;
    font-family: 'Orbitron', sans-serif;
    
    
}

#selectedNumbers li{
    
    
}

.btn {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
}





